html {
	scroll-behavior: smooth;
}

body {
	padding-top: 4.5rem;
}

.navbar-toggler{
	position : absolute;
	top:0px;
	right:15px;
}

/*** ABOUT US *****/

.aboutus-img-fluid {
	max-width:100%;
	height:50%;
	margin-top:3rem;
}

/****** CAROUSEL ******/

.inaugural{
	background-image: url(/images/VenkatHeroImage-min.jpg);
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}
.inaugural .carousel-caption{
	background-color: #343A40;
	padding: 60px;
	max-width: 675px;
}

.meetup{
	background-color: #dc3545
}
.meetup-logo{
	height:75% !important;
	min-width: 0 !important;;
	top:60px !important;;
	left:450px !important;;
}


@media only screen and (max-width: 1900px) {
	.meetup-logo{
		height:75% !important;
		min-width: 0 !important;;
		top:60px !important;;
		left:120px !important;;
	}

}
@media only screen and (max-width: 1450px) {
	.meetup-logo{
		height:55% !important;
		min-width: 0 !important;;
		top:60px !important;;
		left:120px !important;;
	}

}
@media only screen and (max-width: 1175px) {
	.meetup-logo{
		height:45% !important;
		min-width: 0 !important;;
		top:60px !important;;
		left:120px !important;;
	}
	.meetup h1{
		font-size:32px;
	}
	.meetup h4{
		font-size:24px;
	}

}
@media only screen and (max-width: 576px) {
	.inaugural .carousel-caption {
		padding: 30px;
	}
	.meetup-logo{
		height:35% !important;
		min-width: 0 !important;;
		top:60px !important;;
		left:95px !important;;
	}
	.meetup h1{
		font-size:32px;
	}
	.meetup h4{
		font-size:16px;
	}
	
	.aboutus-img-fluid {
		max-width:100%;
		height:auto;
		margin-top:3rem;
	}
}

.bg-blue{
	background-color: #D8EEF6;
}
.bg-green{
	background-color: #F7FFDF;
}
.bg-orange{
	background-color: #FBEDD5;
}
.bg-gray{
	background-color: #e9ecef;
}

/* Featurettes
------------------------- */

.featurette {
  padding: 0 2rem 2rem 2rem; /* Space out the Bootstrap <hr> more */
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top:60px !important;
}

/****** BUTTONS ******/

.btn-primary{
	color: #FFF;
	background-color: #00AAE8;
	border-color: #00AAE8;
}
.btn-green{
	color: #000;
	background-color: #ADDB25;
	border-color: #ADDB25;
}
.btn-orange{
	color: #000;
	background-color: #FDB32E;
	border-color: #FDB32E;
}

.btn-meetup{
	color: #dc3545;
	background-color: #FFF;
	border-color: #FFF;
}
